doctype html
html
  head  
    title A little about me
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My name is Aldo Caamal, this is a little app that tells a part of how I became a Web Developer.")
    
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

        
    link(rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")



    link(rel="stylesheet" href="/css/main.css")
    
    link(href="https://fonts.googleapis.com/css?family=Satisfy|Oxygen|Bree+Serif" rel="stylesheet")
    
  body
    
    nav.main
        ul
            li
                a(href="#aboutme" ) AldoCaava
            li
                a(href="#myskills") WhatIKnow
            li
                a(href="#myrepos") MyRepos    
   


    nav.social
        ul
            
            li
                a(href="https://twitter.com/aldocaava" title="check out my Twitter" target="_blank" class="twitter") &nbsp;
            li
                a(href="https://github.com/AldoHub" title="check out my Repos" target="_blank" class="github") &nbsp;    
          
    header.banner
    main.container
        block content
 
      


  
    footer
      p A little something about me &amp; the things I do.
      p Aldo Caamal
      p aldocaava@hotmail.com
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous")  
    script(src="/js/Chart.min.js")          
    script(src="/js/frontend.js")  
    script(src="/js/backend.js")
    script(src="/js/zenscroll-min.js")
   
    script(src="/js/plugin.js")