doctype html
html
  head  
    title A little about me
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My name is Aldo Caamal, this is a little app that tells a part of how I became a Web Developer.")
    meta(charset="utf-8")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

        
    link(rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")

    
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/css/main.css")
    
    link(href="https://fonts.googleapis.com/css?family=Arvo|Questrial" type="text/css" rel="stylesheet")
    
  body
    main.container
        nav.main
            ul(id="menu")
                li
                    a(href="#home" id="aldo") aldo &nbsp;
                          i.fa.fa-bars(aria-hidden="true" id="menu-bars")
                
            ul
                li
                    a(href="#aboutme" ) About Me
                li
                    a(href="#myskills") My Skills
                li
                    a(href="#myrepos") My Repos    
    
        header.banner
        
        block content
    
      


  
    footer
        ul
            li
                p Powered by Node / Express / ChartJs / Pug &amp; Github API.
            li
                p Contact me on aldocaava@hotmail.com

            
        ul.social
            li 
                a(href="https://twitter.com/aldocaava" target="_blank")
                    i.fa.fa-twitter(aria-hidden="true")  
                  
            li 
                a(href="https://github.com/AldoHub" target="_blank")
                    i.fa.fa-github(aria-hidden="true")  
        
   
   
   
   
   
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous")  
    script(src="/js/Chart.min.js")          
    script(src="/js/frontend.js")  
    script(src="/js/backend.js")
    script(src="/js/zenscroll-min.js")
   
    script(src="/js/functions.js")