doctype html
html
  head  
    title A little about me
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet" href="/css/main.css")
    
    
    link(href="https://fonts.googleapis.com/css?family=Satisfy|Oxygen|Bree+Serif" rel="stylesheet")
    
  body
    
    nav.main
        ul
            
            li
                a(href="#aboutme" ) AboutMe
            li
                a(href="#myskills") WhatIKnow
            li
                a(href="#myrepos") MyRepos    
   


    nav.social
        ul
            
            li
                a(href="https://twitter.com/aldocaava" target="_blank" class="twitter") &nbsp;
            li
                a(href="https://github.com/AldoHub" target="_blank" class="github") &nbsp;    
          
    header.banner
    main.container
        block content
    section.rest 
      


  
    footer
      p A little something about me &amp; the things I do.
      p Hope you have a nice day... and maybe we could know each other better one day.    
      p aldocaava
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous")  
    script(src="/js/Chart.min.js")          
    script(src="/js/frontend.js")  
    script(src="/js/backend.js")
    script(src="/js/zenscroll-min.js")
    script(src="/js/scroll-path.js")
       