doctype html
html
  head  
    title A little about me
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My name is Aldo Caamal, this is a little app that tells a part of how I became a Web Developer.")
    meta(charset="utf-8")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

        
    link(rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")

    
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Didact+Gothic|Monoton")
    link(rel="stylesheet" href="/css/main.css")
  body
    main.container
        nav.main
            ul
                li
                    a(href="#home" id="aldo") aldo
                li#nav-icon-container  
                    div#nav-icon
                        span
                        span
                        span
            ul
                li
                    a(href="#aboutme" ) About Me
                li
                    a(href="#myskills") My Skills
                li
                    a(href="#myrepos") My Repos    
    
        header#home
            h1 Hi&comma; I am Aldo Caamal
            p I am a #[em self-taught] Full Stack Web Developer.

        
        block content
    
      


  
    footer
            
        ul.social
            li
                p #[em Powered by] Node / Express / CSS Grid / Github &amp; Pug

            li
                p Contact me on #[strong aldocaava@hotmail.com]
            li 
                a(href="https://twitter.com/aldocaava" target="_blank")
                    i.fa.fa-twitter(aria-hidden="true")  
                  
            li 
                a(href="https://github.com/AldoHub" target="_blank")
                    i.fa.fa-github(aria-hidden="true")  
            li 
                a(href="https://www.youtube.com/channel/UCsbBhGOM5l927nz5-jTIqlw" target="_blank")
                    i.fa.fa-youtube-play(aria-hidden="true")  
   
   
   
   
   
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous")
    script(src="/js/zenscroll-min.js")
    script(src="/js/functions.js")