extends layout
block content
    
    //--svg(id="path")
    //--    line(x1="0" y1="0" x2="0" y2="300" id="pathline" style="stroke:rgb(135,255,6);stroke-width:2")

    

    section#aboutme
        h1 About Me
        div.aboutme
            p I am a self-taught Full Stack Web Developer.
            p I have been learning Web Technologies for about 3 years or so, but I have been doing it alone, maybe I do not follow all the best practices but I try to improve and learn more every day.
            p My style is simple, yes, I like simple things, things that show as they are, and I apply this into my designs. To me, to be simple means to stay in touch with the things that matter the most. 


    section#myskills
        h1 What I Know
        canvas(id="backend")
        canvas(id="canvas")
        

    section#myrepos
        h1 My Repositories
        div.repo-container
            if (repos != null)    
                each repo, i in repos
                    div.repo
                        p.letter=letters[i]
                        h2=repo.name
                        p
                            a(href=repo.html_url)=repo.full_name
                        p=repo.description    

            else
                p Github is not available, sorry.

                