extends layout
block content
    
  
    section#aboutme
        h1 Overview.
        p Yes, you read well, I am a self-taught Full Stack Web Developer, and I am not afraid to say so.
        p I do not have a degree, so what?. I have learnt all the technologies I know from scratch, searching through documentations, watching youtube tuts even reverse engeneering some pages.
        p Saying that, my knowledge was built out there, in the wide web, that place we all go, but few learn how to drive through. Of course, my PC Maintenance skills helped a lot... oh did I miss that?... I am a certified #[em PC guy], even took the #[em COMPTIA] ( A+, NETWORk, SECURITY ) preparation courses, but here in Mexico, there are not many chances to take the COMPTIA Certification exams... well maybe in the future.


    section#myskills
        h1 Skills.
        p HTML 5
        p CSS 3
        p Javascript
        p Php
        p MySQL
        p Angular 2+
        p React
        p Redux
        p Node
        p Express
        p Mongo
        p Photoshop
        p ... and others more.

    section#myrepos
        h1 Repos.
        div.repo-container
            if (repos != null)    
                each repo, i in repos
                    div.repo
                        p.letter=letters[i]
                        h2=repo.name
                        p
                            a(href=repo.html_url)=repo.full_name
                        p=repo.description    

            else
                p Github is not available, sorry.

                