extends layout
block content
    
    svg(id="path")
        line(x1="0" y1="0" x2="0" y2="300" id="pathline" style="stroke:rgb(135,255,6);stroke-width:2")



    section
        h1#aboutme AboutMe
        div.aboutme
            p I am a self-taught web developer, although we can say I am a Full Stack Web Developer, well you know, after learning one thing, I had to learn another thing, and then that same thing needed to be used with another thing, and it went like that for a while.
            p I do not consider myself an expert in any matter, but I like to learn, which I consider a must-have skill. 
            p To me, simplicity is the way to go, to tell something without saying a lot means to choose your words better, saying only what's need to be said.     

    section
        h1#myskills WhatIKnow
        canvas(id="backend")
        canvas(id="canvas")
        

    section
        h1#myrepos MyRepos
        div.repo-container
            if (repos != null)    
                each repo, i in repos
                    div.repo
                        p.letter=letters[i]
                        h1=repo.name
                        p
                            a(href=repo.html_url)=repo.full_name
                        p=repo.description    

            else
                p Github is no available, sorry.

                