body {
    margin: 0 auto;
    padding: 0;  
    width: 100%;
    max-width: 1910px;
    background: #111;
    color: aliceblue;
    font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif;
}

body * {
    transition: all 300ms ease-in-out;
    padding: 0px;
    margin: 0px;
}

.banner{
    background: url("/images/pexels-photo-591755-min.jpeg")center; 
    height: 500px;
    background-size: 100%;
    margin-bottom: 50px;
}


nav.social {
    position: fixed;
    right: 0;
    bottom: 20px;
   z-index: 99;

}


nav.main{
    text-align: right;
    position: fixed;
    width: 100%;
    background: #111;
    transform: translateY(-100px);
    z-index: 99;
    border-bottom:1px solid #222;
}


nav.main ul {
    
    padding: 0px 10px 0px 0px;
    margin: 0;

}

nav.main ul li a, nav.social ul li a{
    color: #20EB09;
    
    display: block;
    padding: 15px;
    text-decoration: none;

}


nav.social ul li {
    border-radius: 100%;
}

nav.social ul li a {
    padding: 0;
    margin: 0 5px;
    border-radius: 100%;
}


nav.main ul li, nav.social ul li {
    display: inline-table;
    margin:  0;
    padding: 0;
}

nav.main ul li a:hover{
    background: #222;
}




section {
    margin-bottom: 50px;
}

section h1 {
    margin-bottom: 15px;
}
.container {
    margin: 0 auto;
    width: 90%;

    
}
.container h1 {
    font-family: "Satisfy";
    color: #222;
    border-bottom:1px solid #222;
}


.aboutme p{
    font-size: 40px;
}

canvas {
    display: block;
    margin: 0px;
    padding: 0;
    
}

.repo-container{
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid #222;
    text-align: center;
}

.repo {
    width: 90%;
    text-align: center;
    padding: 10px;
    
    display: inline-table;
}


.repo h1 {
    font-family: "Bree serif";
    padding-bottom: 10px;
    color: #eee;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}

.repo  p {
    margin-bottom: 10px;
    font-family: "Oxygen";
}

.repo:hover {
    background: #222;
    color: #eee;
   
}

.repo p a {
    color: #444;
    text-decoration: none;
}

.repo:hover p a {
    color: #20EB09;    
    text-decoration: underline;
}

.github, .twitter {
    display: block;
    width: 32px;
    opacity: 0.5;
    height: 32px;
    text-decoration: none;
}


.github:hover {
    transform: rotate(20deg);
    opacity:1;
    
}

.twitter {
    background: url("/images/if_twitter_six_107069.png");

}

.github {
    background: url("/images/if_github_six_gray_107108.png");
    
}

.twitter:hover {
  transform: rotate(20deg);
    opacity:1;
}


.repo .letter {
    font-size: 120px;
    font-family: "Bree serif";
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #333; 
    user-select: none;
    user-select: none;
    
}

.repo:hover .letter {
    color: #FFFFFF;
    transform: scale(1.3);
    text-shadow: 0px 0px 10px #000;
}

footer {
    width: 50%;
    text-align: center;
    margin: 10px auto 0px auto;
    border-top:1px solid #222;
    padding: 20px 0px 40px 0px;
    font-size: 12px;
}

footer *{
    color: #444;
    padding: 0px;
    margin: 0px;

}

#path{
    position: fixed;
    z-index: 98;
    left: 97%;
    height: 100vh;
    top: 120px;
}

@media (min-width:0px) and (max-width:480px){
   

   .repo-container {
    column-count: 1;
   }

   .banner {
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 200px;
   
   
    }

   
   nav.main {
       background:#111;
       text-align: center;
   }

   
   nav.main ul li a{
    padding: 20px 10px;
   }
  
   nav.social {
       
       bottom: 10px;
       
    }
    footer {
        width: 100%;
        padding-bottom: 30px;
        margin: 0;

    }
}

@media (min-width:481px) and (max-width:900px){

    .banner{
        background-attachment: scroll;
        background-repeat: no-repeat;
        height: 300px;
    } 
    
    .repo-container {
        column-count: 2;
    }
    
    .rest {
        height: 50vh;
    }
    
    
    footer {
        width: 100%;
        margin: 0;

    }



}